:root {
    --color-neutral-0: $white;
    --color-neutral-100: $grey-lighten-5;
    --color-neutral-200: $grey-lighten-4;
    --color-neutral-300: $grey-lighten-3;
    --color-neutral-400: $grey-lighten-2;
    --color-neutral-500: $grey-lighten-1;
    --color-neutral-600: $grey;
    --color-neutral-700: $grey-darken-1;
    --color-neutral-800: $grey-darken-2;
    --color-neutral-900: $grey-darken-3;
    --color-neutral-950: $grey-darken-4;   
    --color-neutral-1000: $black; 
    --color-neutral-100-alpha-1: rgba($grey-lighten-5,0.1);
    --color-neutral-100-alpha-2: rgba($grey-lighten-5,0.2);
    --color-neutral-100-alpha-3: rgba($grey-lighten-5,0.3);
    --color-neutral-100-alpha-4: rgba($grey-lighten-5,0.4);
    --color-neutral-100-alpha-5: rgba($grey-lighten-5,0.5);
    --color-neutral-100-alpha-6: rgba($grey-lighten-5,0.6);
    --color-neutral-100-alpha-7: rgba($grey-lighten-5,0.7);
    --color-neutral-100-alpha-8: rgba($grey-lighten-5,0.8);
    --color-neutral-100-alpha-9: rgba($grey-lighten-5,0.9);
    --color-neutral-200-alpha-1: rgba($grey-lighten-4,0.1);
    --color-neutral-200-alpha-2: rgba($grey-lighten-4,0.2);
    --color-neutral-200-alpha-3: rgba($grey-lighten-4,0.3);
    --color-neutral-200-alpha-4: rgba($grey-lighten-4,0.4);
    --color-neutral-200-alpha-5: rgba($grey-lighten-4,0.5);
    --color-neutral-200-alpha-6: rgba($grey-lighten-4,0.6);
    --color-neutral-200-alpha-7: rgba($grey-lighten-4,0.7);
    --color-neutral-200-alpha-8: rgba($grey-lighten-4,0.8);
    --color-neutral-200-alpha-9: rgba($grey-lighten-4,0.9);
    --color-neutral-300-alpha-1: rgba($grey-lighten-3,0.1);
    --color-neutral-300-alpha-2: rgba($grey-lighten-3,0.2);
    --color-neutral-300-alpha-3: rgba($grey-lighten-3,0.3);
    --color-neutral-300-alpha-4: rgba($grey-lighten-3,0.4);
    --color-neutral-300-alpha-5: rgba($grey-lighten-3,0.5);
    --color-neutral-300-alpha-6: rgba($grey-lighten-3,0.6);
    --color-neutral-300-alpha-7: rgba($grey-lighten-3,0.7);
    --color-neutral-300-alpha-8: rgba($grey-lighten-3,0.8);
    --color-neutral-300-alpha-9: rgba($grey-lighten-3,0.9);
    --color-neutral-400-alpha-1: rgba($grey-lighten-2,0.1);
    --color-neutral-400-alpha-2: rgba($grey-lighten-2,0.2);
    --color-neutral-400-alpha-3: rgba($grey-lighten-2,0.3);
    --color-neutral-400-alpha-4: rgba($grey-lighten-2,0.4);
    --color-neutral-400-alpha-5: rgba($grey-lighten-2,0.5);
    --color-neutral-400-alpha-6: rgba($grey-lighten-2,0.6);
    --color-neutral-400-alpha-7: rgba($grey-lighten-2,0.7);
    --color-neutral-400-alpha-8: rgba($grey-lighten-2,0.8);
    --color-neutral-400-alpha-9: rgba($grey-lighten-2,0.9);
    --color-neutral-500-alpha-1: rgba($grey-lighten-1,0.1);
    --color-neutral-500-alpha-2: rgba($grey-lighten-1,0.2);
    --color-neutral-500-alpha-3: rgba($grey-lighten-1,0.3);
    --color-neutral-500-alpha-4: rgba($grey-lighten-1,0.4);
    --color-neutral-500-alpha-5: rgba($grey-lighten-1,0.5);
    --color-neutral-500-alpha-6: rgba($grey-lighten-1,0.6);
    --color-neutral-500-alpha-7: rgba($grey-lighten-1,0.7);
    --color-neutral-500-alpha-8: rgba($grey-lighten-1,0.8);
    --color-neutral-500-alpha-9: rgba($grey-lighten-1,0.9);
    --color-neutral-600-alpha-1: rgba($grey,0.1);
    --color-neutral-600-alpha-2: rgba($grey,0.2);
    --color-neutral-600-alpha-3: rgba($grey,0.3);
    --color-neutral-600-alpha-4: rgba($grey,0.4);
    --color-neutral-600-alpha-5: rgba($grey,0.5);
    --color-neutral-600-alpha-6: rgba($grey,0.6);
    --color-neutral-600-alpha-7: rgba($grey,0.7);
    --color-neutral-600-alpha-8: rgba($grey,0.8);
    --color-neutral-600-alpha-9: rgba($grey,0.9);
    --color-neutral-700-alpha-1: rgba($grey-darken-1,0.1);
    --color-neutral-700-alpha-2: rgba($grey-darken-1,0.2);
    --color-neutral-700-alpha-3: rgba($grey-darken-1,0.3);
    --color-neutral-700-alpha-4: rgba($grey-darken-1,0.4);
    --color-neutral-700-alpha-5: rgba($grey-darken-1,0.5);
    --color-neutral-700-alpha-6: rgba($grey-darken-1,0.6);
    --color-neutral-700-alpha-7: rgba($grey-darken-1,0.7);
    --color-neutral-700-alpha-8: rgba($grey-darken-1,0.8);
    --color-neutral-700-alpha-9: rgba($grey-darken-1,0.9);
    --color-neutral-800-alpha-1: rgba($grey-darken-2,0.1);
    --color-neutral-800-alpha-2: rgba($grey-darken-2,0.2);
    --color-neutral-800-alpha-3: rgba($grey-darken-2,0.3);
    --color-neutral-800-alpha-4: rgba($grey-darken-2,0.4);
    --color-neutral-800-alpha-5: rgba($grey-darken-2,0.5);
    --color-neutral-800-alpha-6: rgba($grey-darken-2,0.6);
    --color-neutral-800-alpha-7: rgba($grey-darken-2,0.7);
    --color-neutral-800-alpha-8: rgba($grey-darken-2,0.8);
    --color-neutral-800-alpha-9: rgba($grey-darken-2,0.9);
    --color-neutral-900-alpha-1: rgba($grey-darken-3,0.1);
    --color-neutral-900-alpha-2: rgba($grey-darken-3,0.2);
    --color-neutral-900-alpha-3: rgba($grey-darken-3,0.3);
    --color-neutral-900-alpha-4: rgba($grey-darken-3,0.4);
    --color-neutral-900-alpha-5: rgba($grey-darken-3,0.5);
    --color-neutral-900-alpha-6: rgba($grey-darken-3,0.6);
    --color-neutral-900-alpha-7: rgba($grey-darken-3,0.7);
    --color-neutral-900-alpha-8: rgba($grey-darken-3,0.8);
    --color-neutral-900-alpha-9: rgba($grey-darken-3,0.9);
    --color-neutral-950-alpha-1: rgba($grey-darken-4,0.1);
    --color-neutral-950-alpha-2: rgba($grey-darken-4,0.2);
    --color-neutral-950-alpha-3: rgba($grey-darken-4,0.3);
    --color-neutral-950-alpha-4: rgba($grey-darken-4,0.4);
    --color-neutral-950-alpha-5: rgba($grey-darken-4,0.5);
    --color-neutral-950-alpha-6: rgba($grey-darken-4,0.6);
    --color-neutral-950-alpha-7: rgba($grey-darken-4,0.7);
    --color-neutral-950-alpha-8: rgba($grey-darken-4,0.8);
    --color-neutral-950-alpha-9: rgba($grey-darken-4,0.9);
    --color-neutral-1000-alpha-1: rgba($black,0.1);
    --color-neutral-1000-alpha-2: rgba($black,0.2);
    --color-neutral-1000-alpha-3: rgba($black,0.3);
    --color-neutral-1000-alpha-4: rgba($black,0.4);
    --color-neutral-1000-alpha-5: rgba($black,0.5);
    --color-neutral-1000-alpha-6: rgba($black,0.6);
    --color-neutral-1000-alpha-7: rgba($black,0.7);
    --color-neutral-1000-alpha-8: rgba($black,0.8);
    --color-neutral-1000-alpha-9: rgba($black,0.9);

    --color-primary-0: $blue-grey-lighten-5;
    --color-primary-100: $blue-grey-lighten-4;
    --color-primary-200: $blue-grey-lighten-3;
    --color-primary-300: $blue-grey-lighten-2;
    --color-primary-400: $blue-grey-lighten-1;
    --color-primary-500: $blue-grey;
    --color-primary-600: $blue-grey-darken-1;
    --color-primary-700: $blue-grey-darken-2;
    --color-primary-800: $blue-grey-darken-3;
    --color-primary-900: $blue-grey-darken-4;
    --color-primary-0-alpha-1: rgba($blue-grey-lighten-5,0.1);
    --color-primary-0-alpha-2: rgba($blue-grey-lighten-5,0.2);
    --color-primary-0-alpha-3: rgba($blue-grey-lighten-5,0.3);
    --color-primary-0-alpha-4: rgba($blue-grey-lighten-5,0.4);
    --color-primary-0-alpha-5: rgba($blue-grey-lighten-5,0.5);
    --color-primary-0-alpha-6: rgba($blue-grey-lighten-5,0.6);
    --color-primary-0-alpha-7: rgba($blue-grey-lighten-5,0.7);
    --color-primary-0-alpha-8: rgba($blue-grey-lighten-5,0.8);
    --color-primary-0-alpha-9: rgba($blue-grey-lighten-5,0.9);
    --color-primary-100-alpha-1: rgba($blue-grey-lighten-4,0.1);
    --color-primary-100-alpha-2: rgba($blue-grey-lighten-4,0.2);
    --color-primary-100-alpha-3: rgba($blue-grey-lighten-4,0.3);
    --color-primary-100-alpha-4: rgba($blue-grey-lighten-4,0.4);
    --color-primary-100-alpha-5: rgba($blue-grey-lighten-4,0.5);
    --color-primary-100-alpha-6: rgba($blue-grey-lighten-4,0.6);
    --color-primary-100-alpha-7: rgba($blue-grey-lighten-4,0.7);
    --color-primary-100-alpha-8: rgba($blue-grey-lighten-4,0.8);
    --color-primary-100-alpha-9: rgba($blue-grey-lighten-4,0.9);
    --color-primary-200-alpha-1: rgba($blue-grey-lighten-3,0.1);
    --color-primary-200-alpha-2: rgba($blue-grey-lighten-3,0.2);
    --color-primary-200-alpha-3: rgba($blue-grey-lighten-3,0.3);
    --color-primary-200-alpha-4: rgba($blue-grey-lighten-3,0.4);
    --color-primary-200-alpha-5: rgba($blue-grey-lighten-3,0.5);
    --color-primary-200-alpha-6: rgba($blue-grey-lighten-3,0.6);
    --color-primary-200-alpha-7: rgba($blue-grey-lighten-3,0.7);
    --color-primary-200-alpha-8: rgba($blue-grey-lighten-3,0.8);
    --color-primary-200-alpha-9: rgba($blue-grey-lighten-3,0.9);
    --color-primary-300-alpha-1: rgba($blue-grey-lighten-2,0.1);
    --color-primary-300-alpha-2: rgba($blue-grey-lighten-2,0.2);
    --color-primary-300-alpha-3: rgba($blue-grey-lighten-2,0.3);
    --color-primary-300-alpha-4: rgba($blue-grey-lighten-2,0.4);
    --color-primary-300-alpha-5: rgba($blue-grey-lighten-2,0.5);
    --color-primary-300-alpha-6: rgba($blue-grey-lighten-2,0.6);
    --color-primary-300-alpha-7: rgba($blue-grey-lighten-2,0.7);
    --color-primary-300-alpha-8: rgba($blue-grey-lighten-2,0.8);
    --color-primary-300-alpha-9: rgba($blue-grey-lighten-2,0.9);
    --color-primary-400-alpha-1: rgba($blue-grey-lighten-1,0.1);
    --color-primary-400-alpha-2: rgba($blue-grey-lighten-1,0.2);
    --color-primary-400-alpha-3: rgba($blue-grey-lighten-1,0.3);
    --color-primary-400-alpha-4: rgba($blue-grey-lighten-1,0.4);
    --color-primary-400-alpha-5: rgba($blue-grey-lighten-1,0.5);
    --color-primary-400-alpha-6: rgba($blue-grey-lighten-1,0.6);
    --color-primary-400-alpha-7: rgba($blue-grey-lighten-1,0.7);
    --color-primary-400-alpha-8: rgba($blue-grey-lighten-1,0.8);
    --color-primary-400-alpha-9: rgba($blue-grey-lighten-1,0.9);
    --color-primary-500-alpha-1: rgba($blue-grey,0.1);
    --color-primary-500-alpha-2: rgba($blue-grey,0.2);
    --color-primary-500-alpha-3: rgba($blue-grey,0.3);
    --color-primary-500-alpha-4: rgba($blue-grey,0.4);
    --color-primary-500-alpha-5: rgba($blue-grey,0.5);
    --color-primary-500-alpha-6: rgba($blue-grey,0.6);
    --color-primary-500-alpha-7: rgba($blue-grey,0.7);
    --color-primary-500-alpha-8: rgba($blue-grey,0.8);
    --color-primary-500-alpha-9: rgba($blue-grey,0.9);
    --color-primary-600-alpha-1: rgba($blue-grey-darken-1,0.1);
    --color-primary-600-alpha-2: rgba($blue-grey-darken-1,0.2);
    --color-primary-600-alpha-3: rgba($blue-grey-darken-1,0.3);
    --color-primary-600-alpha-4: rgba($blue-grey-darken-1,0.4);
    --color-primary-600-alpha-5: rgba($blue-grey-darken-1,0.5);
    --color-primary-600-alpha-6: rgba($blue-grey-darken-1,0.6);
    --color-primary-600-alpha-7: rgba($blue-grey-darken-1,0.7);
    --color-primary-600-alpha-8: rgba($blue-grey-darken-1,0.8);
    --color-primary-600-alpha-9: rgba($blue-grey-darken-1,0.9);
    --color-primary-700-alpha-1: rgba($blue-grey-darken-2,0.1);
    --color-primary-700-alpha-2: rgba($blue-grey-darken-2,0.2);
    --color-primary-700-alpha-3: rgba($blue-grey-darken-2,0.3);
    --color-primary-700-alpha-4: rgba($blue-grey-darken-2,0.4);
    --color-primary-700-alpha-5: rgba($blue-grey-darken-2,0.5);
    --color-primary-700-alpha-6: rgba($blue-grey-darken-2,0.6);
    --color-primary-700-alpha-7: rgba($blue-grey-darken-2,0.7);
    --color-primary-700-alpha-8: rgba($blue-grey-darken-2,0.8);
    --color-primary-700-alpha-9: rgba($blue-grey-darken-2,0.9);
    --color-primary-800-alpha-1: rgba($blue-grey-darken-3,0.1);
    --color-primary-800-alpha-2: rgba($blue-grey-darken-3,0.2);
    --color-primary-800-alpha-3: rgba($blue-grey-darken-3,0.3);
    --color-primary-800-alpha-4: rgba($blue-grey-darken-3,0.4);
    --color-primary-800-alpha-5: rgba($blue-grey-darken-3,0.5);
    --color-primary-800-alpha-6: rgba($blue-grey-darken-3,0.6);
    --color-primary-800-alpha-7: rgba($blue-grey-darken-3,0.7);
    --color-primary-800-alpha-8: rgba($blue-grey-darken-3,0.8);
    --color-primary-800-alpha-9: rgba($blue-grey-darken-3,0.9);
    --color-primary-900-alpha-1: rgba($blue-grey-darken-4,0.1);
    --color-primary-900-alpha-2: rgba($blue-grey-darken-4,0.2);
    --color-primary-900-alpha-3: rgba($blue-grey-darken-4,0.3);
    --color-primary-900-alpha-4: rgba($blue-grey-darken-4,0.4);
    --color-primary-900-alpha-5: rgba($blue-grey-darken-4,0.5);
    --color-primary-900-alpha-6: rgba($blue-grey-darken-4,0.6);
    --color-primary-900-alpha-7: rgba($blue-grey-darken-4,0.7);
    --color-primary-900-alpha-8: rgba($blue-grey-darken-4,0.8);
    --color-primary-900-alpha-9: rgba($blue-grey-darken-4,0.9);

    --color-accent-0: $light-blue-lighten-5;
    --color-accent-100: $light-blue-lighten-4;
    --color-accent-200: $light-blue-lighten-3;
    --color-accent-300: $light-blue-lighten-2;
    --color-accent-400: $light-blue-lighten-1;
    --color-accent-500: $light-blue;
    --color-accent-600: $light-blue-darken-1;
    --color-accent-700: $light-blue-darken-2;
    --color-accent-800: $light-blue-darken-3;
    --color-accent-900: $light-blue-darken-4;
    --color-accent-0-alpha-1: rgba($light-blue-lighten-5,0.1);
    --color-accent-0-alpha-2: rgba($light-blue-lighten-5,0.2);
    --color-accent-0-alpha-3: rgba($light-blue-lighten-5,0.3);
    --color-accent-0-alpha-4: rgba($light-blue-lighten-5,0.4);
    --color-accent-0-alpha-5: rgba($light-blue-lighten-5,0.5);
    --color-accent-0-alpha-6: rgba($light-blue-lighten-5,0.6);
    --color-accent-0-alpha-7: rgba($light-blue-lighten-5,0.7);
    --color-accent-0-alpha-8: rgba($light-blue-lighten-5,0.8);
    --color-accent-0-alpha-9: rgba($light-blue-lighten-5,0.9);
    --color-accent-100-alpha-1: rgba($light-blue-lighten-4,0.1);
    --color-accent-100-alpha-2: rgba($light-blue-lighten-4,0.2);
    --color-accent-100-alpha-3: rgba($light-blue-lighten-4,0.3);
    --color-accent-100-alpha-4: rgba($light-blue-lighten-4,0.4);
    --color-accent-100-alpha-5: rgba($light-blue-lighten-4,0.5);
    --color-accent-100-alpha-6: rgba($light-blue-lighten-4,0.6);
    --color-accent-100-alpha-7: rgba($light-blue-lighten-4,0.7);
    --color-accent-100-alpha-8: rgba($light-blue-lighten-4,0.8);
    --color-accent-100-alpha-9: rgba($light-blue-lighten-4,0.9);
    --color-accent-200-alpha-1: rgba($light-blue-lighten-3,0.1);
    --color-accent-200-alpha-2: rgba($light-blue-lighten-3,0.2);
    --color-accent-200-alpha-3: rgba($light-blue-lighten-3,0.3);
    --color-accent-200-alpha-4: rgba($light-blue-lighten-3,0.4);
    --color-accent-200-alpha-5: rgba($light-blue-lighten-3,0.5);
    --color-accent-200-alpha-6: rgba($light-blue-lighten-3,0.6);
    --color-accent-200-alpha-7: rgba($light-blue-lighten-3,0.7);
    --color-accent-200-alpha-8: rgba($light-blue-lighten-3,0.8);
    --color-accent-200-alpha-9: rgba($light-blue-lighten-3,0.9);
    --color-accent-300-alpha-1: rgba($light-blue-lighten-2,0.1);
    --color-accent-300-alpha-2: rgba($light-blue-lighten-2,0.2);
    --color-accent-300-alpha-3: rgba($light-blue-lighten-2,0.3);
    --color-accent-300-alpha-4: rgba($light-blue-lighten-2,0.4);
    --color-accent-300-alpha-5: rgba($light-blue-lighten-2,0.5);
    --color-accent-300-alpha-6: rgba($light-blue-lighten-2,0.6);
    --color-accent-300-alpha-7: rgba($light-blue-lighten-2,0.7);
    --color-accent-300-alpha-8: rgba($light-blue-lighten-2,0.8);
    --color-accent-300-alpha-9: rgba($light-blue-lighten-2,0.9);
    --color-accent-400-alpha-1: rgba($light-blue-lighten-1,0.1);
    --color-accent-400-alpha-2: rgba($light-blue-lighten-1,0.2);
    --color-accent-400-alpha-3: rgba($light-blue-lighten-1,0.3);
    --color-accent-400-alpha-4: rgba($light-blue-lighten-1,0.4);
    --color-accent-400-alpha-5: rgba($light-blue-lighten-1,0.5);
    --color-accent-400-alpha-6: rgba($light-blue-lighten-1,0.6);
    --color-accent-400-alpha-7: rgba($light-blue-lighten-1,0.7);
    --color-accent-400-alpha-8: rgba($light-blue-lighten-1,0.8);
    --color-accent-400-alpha-9: rgba($light-blue-lighten-1,0.9);
    --color-accent-500-alpha-1: rgba($light-blue,0.1);
    --color-accent-500-alpha-2: rgba($light-blue,0.2);
    --color-accent-500-alpha-3: rgba($light-blue,0.3);
    --color-accent-500-alpha-4: rgba($light-blue,0.4);
    --color-accent-500-alpha-5: rgba($light-blue,0.5);
    --color-accent-500-alpha-6: rgba($light-blue,0.6);
    --color-accent-500-alpha-7: rgba($light-blue,0.7);
    --color-accent-500-alpha-8: rgba($light-blue,0.8);
    --color-accent-500-alpha-9: rgba($light-blue,0.9);
    --color-accent-600-alpha-1: rgba($light-blue-darken-1,0.1);
    --color-accent-600-alpha-2: rgba($light-blue-darken-1,0.2);
    --color-accent-600-alpha-3: rgba($light-blue-darken-1,0.3);
    --color-accent-600-alpha-4: rgba($light-blue-darken-1,0.4);
    --color-accent-600-alpha-5: rgba($light-blue-darken-1,0.5);
    --color-accent-600-alpha-6: rgba($light-blue-darken-1,0.6);
    --color-accent-600-alpha-7: rgba($light-blue-darken-1,0.7);
    --color-accent-600-alpha-8: rgba($light-blue-darken-1,0.8);
    --color-accent-600-alpha-9: rgba($light-blue-darken-1,0.9);
    --color-accent-700-alpha-1: rgba($light-blue-darken-2,0.1);
    --color-accent-700-alpha-2: rgba($light-blue-darken-2,0.2);
    --color-accent-700-alpha-3: rgba($light-blue-darken-2,0.3);
    --color-accent-700-alpha-4: rgba($light-blue-darken-2,0.4);
    --color-accent-700-alpha-5: rgba($light-blue-darken-2,0.5);
    --color-accent-700-alpha-6: rgba($light-blue-darken-2,0.6);
    --color-accent-700-alpha-7: rgba($light-blue-darken-2,0.7);
    --color-accent-700-alpha-8: rgba($light-blue-darken-2,0.8);
    --color-accent-700-alpha-9: rgba($light-blue-darken-2,0.9);
    --color-accent-800-alpha-1: rgba($light-blue-darken-3,0.1);
    --color-accent-800-alpha-2: rgba($light-blue-darken-3,0.2);
    --color-accent-800-alpha-3: rgba($light-blue-darken-3,0.3);
    --color-accent-800-alpha-4: rgba($light-blue-darken-3,0.4);
    --color-accent-800-alpha-5: rgba($light-blue-darken-3,0.5);
    --color-accent-800-alpha-6: rgba($light-blue-darken-3,0.6);
    --color-accent-800-alpha-7: rgba($light-blue-darken-3,0.7);
    --color-accent-800-alpha-8: rgba($light-blue-darken-3,0.8);
    --color-accent-800-alpha-9: rgba($light-blue-darken-3,0.9);
    --color-accent-900-alpha-1: rgba($light-blue-darken-4,0.1);
    --color-accent-900-alpha-2: rgba($light-blue-darken-4,0.2);
    --color-accent-900-alpha-3: rgba($light-blue-darken-4,0.3);
    --color-accent-900-alpha-4: rgba($light-blue-darken-4,0.4);
    --color-accent-900-alpha-5: rgba($light-blue-darken-4,0.5);
    --color-accent-900-alpha-6: rgba($light-blue-darken-4,0.6);
    --color-accent-900-alpha-7: rgba($light-blue-darken-4,0.7);
    --color-accent-900-alpha-8: rgba($light-blue-darken-4,0.8);
    --color-accent-900-alpha-9: rgba($light-blue-darken-4,0.9);    

    --color-danger-0: $red-lighten-5;
    --color-danger-100: $red-lighten-4;
    --color-danger-200: $red-lighten-3;
    --color-danger-300: $red-lighten-2;
    --color-danger-400: $red-lighten-1;
    --color-danger-500: $red;
    --color-danger-600: $red-darken-1;
    --color-danger-700: $red-darken-2;
    --color-danger-800: $red-darken-3;
    --color-danger-900: $red-darken-4;
    --color-danger-0-alpha-1: rgba($red-lighten-5,0.1);
    --color-danger-0-alpha-2: rgba($red-lighten-5,0.2);
    --color-danger-0-alpha-3: rgba($red-lighten-5,0.3);
    --color-danger-0-alpha-4: rgba($red-lighten-5,0.4);
    --color-danger-0-alpha-5: rgba($red-lighten-5,0.5);
    --color-danger-0-alpha-6: rgba($red-lighten-5,0.6);
    --color-danger-0-alpha-7: rgba($red-lighten-5,0.7);
    --color-danger-0-alpha-8: rgba($red-lighten-5,0.8);
    --color-danger-0-alpha-9: rgba($red-lighten-5,0.9);
    --color-danger-100-alpha-1: rgba($red-lighten-4,0.1);
    --color-danger-100-alpha-2: rgba($red-lighten-4,0.2);
    --color-danger-100-alpha-3: rgba($red-lighten-4,0.3);
    --color-danger-100-alpha-4: rgba($red-lighten-4,0.4);
    --color-danger-100-alpha-5: rgba($red-lighten-4,0.5);
    --color-danger-100-alpha-6: rgba($red-lighten-4,0.6);
    --color-danger-100-alpha-7: rgba($red-lighten-4,0.7);
    --color-danger-100-alpha-8: rgba($red-lighten-4,0.8);
    --color-danger-100-alpha-9: rgba($red-lighten-4,0.9);
    --color-danger-200-alpha-1: rgba($red-lighten-3,0.1);
    --color-danger-200-alpha-2: rgba($red-lighten-3,0.2);
    --color-danger-200-alpha-3: rgba($red-lighten-3,0.3);
    --color-danger-200-alpha-4: rgba($red-lighten-3,0.4);
    --color-danger-200-alpha-5: rgba($red-lighten-3,0.5);
    --color-danger-200-alpha-6: rgba($red-lighten-3,0.6);
    --color-danger-200-alpha-7: rgba($red-lighten-3,0.7);
    --color-danger-200-alpha-8: rgba($red-lighten-3,0.8);
    --color-danger-200-alpha-9: rgba($red-lighten-3,0.9);
    --color-danger-300-alpha-1: rgba($red-lighten-2,0.1);
    --color-danger-300-alpha-2: rgba($red-lighten-2,0.2);
    --color-danger-300-alpha-3: rgba($red-lighten-2,0.3);
    --color-danger-300-alpha-4: rgba($red-lighten-2,0.4);
    --color-danger-300-alpha-5: rgba($red-lighten-2,0.5);
    --color-danger-300-alpha-6: rgba($red-lighten-2,0.6);
    --color-danger-300-alpha-7: rgba($red-lighten-2,0.7);
    --color-danger-300-alpha-8: rgba($red-lighten-2,0.8);
    --color-danger-300-alpha-9: rgba($red-lighten-2,0.9);
    --color-danger-400-alpha-1: rgba($red-lighten-1,0.1);
    --color-danger-400-alpha-2: rgba($red-lighten-1,0.2);
    --color-danger-400-alpha-3: rgba($red-lighten-1,0.3);
    --color-danger-400-alpha-4: rgba($red-lighten-1,0.4);
    --color-danger-400-alpha-5: rgba($red-lighten-1,0.5);
    --color-danger-400-alpha-6: rgba($red-lighten-1,0.6);
    --color-danger-400-alpha-7: rgba($red-lighten-1,0.7);
    --color-danger-400-alpha-8: rgba($red-lighten-1,0.8);
    --color-danger-400-alpha-9: rgba($red-lighten-1,0.9);
    --color-danger-500-alpha-1: rgba($red,0.1);
    --color-danger-500-alpha-2: rgba($red,0.2);
    --color-danger-500-alpha-3: rgba($red,0.3);
    --color-danger-500-alpha-4: rgba($red,0.4);
    --color-danger-500-alpha-5: rgba($red,0.5);
    --color-danger-500-alpha-6: rgba($red,0.6);
    --color-danger-500-alpha-7: rgba($red,0.7);
    --color-danger-500-alpha-8: rgba($red,0.8);
    --color-danger-500-alpha-9: rgba($red,0.9);
    --color-danger-600-alpha-1: rgba($red-darken-1,0.1);
    --color-danger-600-alpha-2: rgba($red-darken-1,0.2);
    --color-danger-600-alpha-3: rgba($red-darken-1,0.3);
    --color-danger-600-alpha-4: rgba($red-darken-1,0.4);
    --color-danger-600-alpha-5: rgba($red-darken-1,0.5);
    --color-danger-600-alpha-6: rgba($red-darken-1,0.6);
    --color-danger-600-alpha-7: rgba($red-darken-1,0.7);
    --color-danger-600-alpha-8: rgba($red-darken-1,0.8);
    --color-danger-600-alpha-9: rgba($red-darken-1,0.9);
    --color-danger-700-alpha-1: rgba($red-darken-2,0.1);
    --color-danger-700-alpha-2: rgba($red-darken-2,0.2);
    --color-danger-700-alpha-3: rgba($red-darken-2,0.3);
    --color-danger-700-alpha-4: rgba($red-darken-2,0.4);
    --color-danger-700-alpha-5: rgba($red-darken-2,0.5);
    --color-danger-700-alpha-6: rgba($red-darken-2,0.6);
    --color-danger-700-alpha-7: rgba($red-darken-2,0.7);
    --color-danger-700-alpha-8: rgba($red-darken-2,0.8);
    --color-danger-700-alpha-9: rgba($red-darken-2,0.9);
    --color-danger-800-alpha-1: rgba($red-darken-3,0.1);
    --color-danger-800-alpha-2: rgba($red-darken-3,0.2);
    --color-danger-800-alpha-3: rgba($red-darken-3,0.3);
    --color-danger-800-alpha-4: rgba($red-darken-3,0.4);
    --color-danger-800-alpha-5: rgba($red-darken-3,0.5);
    --color-danger-800-alpha-6: rgba($red-darken-3,0.6);
    --color-danger-800-alpha-7: rgba($red-darken-3,0.7);
    --color-danger-800-alpha-8: rgba($red-darken-3,0.8);
    --color-danger-800-alpha-9: rgba($red-darken-3,0.9);
    --color-danger-900-alpha-1: rgba($red-darken-4,0.1);
    --color-danger-900-alpha-2: rgba($red-darken-4,0.2);
    --color-danger-900-alpha-3: rgba($red-darken-4,0.3);
    --color-danger-900-alpha-4: rgba($red-darken-4,0.4);
    --color-danger-900-alpha-5: rgba($red-darken-4,0.5);
    --color-danger-900-alpha-6: rgba($red-darken-4,0.6);
    --color-danger-900-alpha-7: rgba($red-darken-4,0.7);
    --color-danger-900-alpha-8: rgba($red-darken-4,0.8);
    --color-danger-900-alpha-9: rgba($red-darken-4,0.9);

    --color-success-0: $green-lighten-5;
    --color-success-100: $green-lighten-4;
    --color-success-200: $green-lighten-3;
    --color-success-300: $green-lighten-2;
    --color-success-400: $green-lighten-1;
    --color-success-500: $green;
    --color-success-600: $green-darken-1;
    --color-success-700: $green-darken-2;
    --color-success-800: $green-darken-3;
    --color-success-900: $green-darken-4;
    --color-success-0-alpha-1: rgba($green-lighten-5,0.1);
    --color-success-0-alpha-2: rgba($green-lighten-5,0.2);
    --color-success-0-alpha-3: rgba($green-lighten-5,0.3);
    --color-success-0-alpha-4: rgba($green-lighten-5,0.4);
    --color-success-0-alpha-5: rgba($green-lighten-5,0.5);
    --color-success-0-alpha-6: rgba($green-lighten-5,0.6);
    --color-success-0-alpha-7: rgba($green-lighten-5,0.7);
    --color-success-0-alpha-8: rgba($green-lighten-5,0.8);
    --color-success-0-alpha-9: rgba($green-lighten-5,0.9);
    --color-success-100-alpha-1: rgba($green-lighten-4,0.1);
    --color-success-100-alpha-2: rgba($green-lighten-4,0.2);
    --color-success-100-alpha-3: rgba($green-lighten-4,0.3);
    --color-success-100-alpha-4: rgba($green-lighten-4,0.4);
    --color-success-100-alpha-5: rgba($green-lighten-4,0.5);
    --color-success-100-alpha-6: rgba($green-lighten-4,0.6);
    --color-success-100-alpha-7: rgba($green-lighten-4,0.7);
    --color-success-100-alpha-8: rgba($green-lighten-4,0.8);
    --color-success-100-alpha-9: rgba($green-lighten-4,0.9);
    --color-success-200-alpha-1: rgba($green-lighten-3,0.1);
    --color-success-200-alpha-2: rgba($green-lighten-3,0.2);
    --color-success-200-alpha-3: rgba($green-lighten-3,0.3);
    --color-success-200-alpha-4: rgba($green-lighten-3,0.4);
    --color-success-200-alpha-5: rgba($green-lighten-3,0.5);
    --color-success-200-alpha-6: rgba($green-lighten-3,0.6);
    --color-success-200-alpha-7: rgba($green-lighten-3,0.7);
    --color-success-200-alpha-8: rgba($green-lighten-3,0.8);
    --color-success-200-alpha-9: rgba($green-lighten-3,0.9);
    --color-success-300-alpha-1: rgba($green-lighten-2,0.1);
    --color-success-300-alpha-2: rgba($green-lighten-2,0.2);
    --color-success-300-alpha-3: rgba($green-lighten-2,0.3);
    --color-success-300-alpha-4: rgba($green-lighten-2,0.4);
    --color-success-300-alpha-5: rgba($green-lighten-2,0.5);
    --color-success-300-alpha-6: rgba($green-lighten-2,0.6);
    --color-success-300-alpha-7: rgba($green-lighten-2,0.7);
    --color-success-300-alpha-8: rgba($green-lighten-2,0.8);
    --color-success-300-alpha-9: rgba($green-lighten-2,0.9);
    --color-success-400-alpha-1: rgba($green-lighten-1,0.1);
    --color-success-400-alpha-2: rgba($green-lighten-1,0.2);
    --color-success-400-alpha-3: rgba($green-lighten-1,0.3);
    --color-success-400-alpha-4: rgba($green-lighten-1,0.4);
    --color-success-400-alpha-5: rgba($green-lighten-1,0.5);
    --color-success-400-alpha-6: rgba($green-lighten-1,0.6);
    --color-success-400-alpha-7: rgba($green-lighten-1,0.7);
    --color-success-400-alpha-8: rgba($green-lighten-1,0.8);
    --color-success-400-alpha-9: rgba($green-lighten-1,0.9);
    --color-success-500-alpha-1: rgba($green,0.1);
    --color-success-500-alpha-2: rgba($green,0.2);
    --color-success-500-alpha-3: rgba($green,0.3);
    --color-success-500-alpha-4: rgba($green,0.4);
    --color-success-500-alpha-5: rgba($green,0.5);
    --color-success-500-alpha-6: rgba($green,0.6);
    --color-success-500-alpha-7: rgba($green,0.7);
    --color-success-500-alpha-8: rgba($green,0.8);
    --color-success-500-alpha-9: rgba($green,0.9);
    --color-success-600-alpha-1: rgba($green-darken-1,0.1);
    --color-success-600-alpha-2: rgba($green-darken-1,0.2);
    --color-success-600-alpha-3: rgba($green-darken-1,0.3);
    --color-success-600-alpha-4: rgba($green-darken-1,0.4);
    --color-success-600-alpha-5: rgba($green-darken-1,0.5);
    --color-success-600-alpha-6: rgba($green-darken-1,0.6);
    --color-success-600-alpha-7: rgba($green-darken-1,0.7);
    --color-success-600-alpha-8: rgba($green-darken-1,0.8);
    --color-success-600-alpha-9: rgba($green-darken-1,0.9);
    --color-success-700-alpha-1: rgba($green-darken-2,0.1);
    --color-success-700-alpha-2: rgba($green-darken-2,0.2);
    --color-success-700-alpha-3: rgba($green-darken-2,0.3);
    --color-success-700-alpha-4: rgba($green-darken-2,0.4);
    --color-success-700-alpha-5: rgba($green-darken-2,0.5);
    --color-success-700-alpha-6: rgba($green-darken-2,0.6);
    --color-success-700-alpha-7: rgba($green-darken-2,0.7);
    --color-success-700-alpha-8: rgba($green-darken-2,0.8);
    --color-success-700-alpha-9: rgba($green-darken-2,0.9);
    --color-success-800-alpha-1: rgba($green-darken-3,0.1);
    --color-success-800-alpha-2: rgba($green-darken-3,0.2);
    --color-success-800-alpha-3: rgba($green-darken-3,0.3);
    --color-success-800-alpha-4: rgba($green-darken-3,0.4);
    --color-success-800-alpha-5: rgba($green-darken-3,0.5);
    --color-success-800-alpha-6: rgba($green-darken-3,0.6);
    --color-success-800-alpha-7: rgba($green-darken-3,0.7);
    --color-success-800-alpha-8: rgba($green-darken-3,0.8);
    --color-success-800-alpha-9: rgba($green-darken-3,0.9);
    --color-success-900-alpha-1: rgba($green-darken-4,0.1);
    --color-success-900-alpha-2: rgba($green-darken-4,0.2);
    --color-success-900-alpha-3: rgba($green-darken-4,0.3);
    --color-success-900-alpha-4: rgba($green-darken-4,0.4);
    --color-success-900-alpha-5: rgba($green-darken-4,0.5);
    --color-success-900-alpha-6: rgba($green-darken-4,0.6);
    --color-success-900-alpha-7: rgba($green-darken-4,0.7);
    --color-success-900-alpha-8: rgba($green-darken-4,0.8);
    --color-success-900-alpha-9: rgba($green-darken-4,0.9);
}