/*Typography - font size*/
$font-size-jumbo: 3rem;
$font-size-xxlarge: 2rem;
$font-size-xlarge: 1.5rem;
$font-size-large: 1.25rem;
$font-size-base: 1rem;
$font-size-small: .875rem;
$font-size-xsmall: .75rem;

//typography - letter spacing
$letter-spacing-0: 0;
$letter-spacing-1px: 1px;
$letter-spacing-2px: 2px;
$letter-spacing-3px: 3px;
$letter-spacing-4px: 4px;
$letter-spacing-5px: 5px;
$letter-spacing-6px: 6px;
$letter-spacing-7px: 7px;
$letter-spacing-8px: 8px;

/*Typography - font weight*/
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;

$defaultFontFamily: null;