//border width, style and color
@mixin border-tool($property: 'border', $color: var(--color-primary-900), $width: '1px', $style: 'solid', $all: null, $flag: null){
    @if $property == 'border' and $all == null {
        border: #{$width} #{$style} #{$color} #{$flag};
    } @else if $all == null and ($property == 'top' or $property == 'right' or $property == 'left' or $property == 'bottom') {
        border-#{$property}: #{$width} #{$style} #{$color} #{$flag};
    } @else if $all == null and $property == 'width' {
        border-width: #{$width} #{$flag};
    } @else if $all == null and $property == 'color' {
        border-color: #{$color} #{$flag};
    } @else if $all == null and $property == 'style' {
        border-style: #{$style} #{$flag};
    } @else if $all == null and $property == 'color,width' or $property == 'width,color' {
         border-color: #{$color} #{$flag};
        border-width: #{$width} #{$flag};
    } @else if $all == null and $property == 'color,style' or $property == 'style,color' {
        border-color: #{$color} #{$flag};
        border-style: #{$style} #{$flag};
    } @else if $all == null and $property == 'width,style' or $property == 'style,width' {
        border-width: #{$width} #{$flag};
        border-style: #{$style} #{$flag};
    } @else if $all != null {
        @if $property == 'border' {
            border: $all #{$flag};
        } @else if $property == 'top' or $property == 'right' or $property == 'left' or $property == 'bottom' {
            border-#{$property}: $all #{$flag};
        }
    }   
}