//buttons
button {
    padding: 1em;
    border-radius: $border-radius-sharp;
    font-size: $font-size-base;
    @include border-tool($color: 'transparent', $width: '2px');
    margin: map-get($spacers, 3);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-2px;
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
    outline: none;
}

button:hover,
button:hover:focus,
button:active {
    box-shadow: 0 0 3px 1px var(--color-neutral-1000-alpha-5);
}

button:hover {
    transform: scale(1.02);
}

button:active,
button:hover:active {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
}

.btn-sm {
    font-size: $font-size-small;
}

.btn-lg {
    font-size: $font-size-large;
}

.btn-primary {
    background-color: var(--color-primary-800);
    color: var(--color-neutral-0);
    &:hover {
        background-color: var(--color-primary-500);
    }
}

.btn-default {
    @include border-tool($property: 'color',$color: var(--color-primary-800));
    color: var(--color-primary-800);
    background-color: var(--color-neutral-800);
    &:hover {
        background-color: var(--color-primary-300);
    }
}

.btn-warning {
    color: var(--color-neutral-0);
    background-color: var(--color-danger-900);
    &:hover {
        text-shadow: 0 0 10px var(--color-neutral-0);
    }
}

.btn-success {
    background-color: var(--color-success-900);
    color: var(--color-neutral-0);
    &:hover {
        background-color: var(--color-success-800);
    }
}

.btn-block {
    width: 100%;
}

.btn-container {
    button {
        margin: map-get($spacers, 3) map-get($spacers, 2);
        &:first-of-type {
            margin-left: map-get($spacers, 3);
        }
        &:last-child() {
            margin-right: map-get($spacers, 3);
        }
    }
}

.form-button {
    @extend .btn-primary;
    @extend .margin-bottom-0;

    &:hover {
        transform: none;
    }
}
