/*Display*/
.d-block {display:block;}
.d-inline-block {display:inline-block;}
.d-none {display: none;}
.d-inline {display: inline;}
.d-flex {display: flex;}
.d-grid {display: grid;}

/*Display - Flex*/
.flex-direction-column {flex-direction: column;}
.flex-direction-row {flex-direction: row;}
.flex-jc-center {justify-content: center;}
.flex-jc-space-around {justify-content: space-around;}
.flex-jc-space-between {justify-content: space-between;}
.flex-ai-center {align-items: center;}
.flex-basis-25 {flex-basis: 25%;}
.flex-basis-33 {flex-basis: 33%;}
.flex-basis-50 {flex-basis: 50%;}
.flex-dir-col {flex-direction: column;}
.flex-dir-row {flex-direction: row;}