/*position*/
.p-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}
.p-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}
.p-absolute {position: absolute;}
.p-relative {position: relative;}

.p-absolute-ctr-h {@include p-absolute-ctr(true,false);}
.p-absolute-ctr-v {@include p-absolute-ctr(false,true);}
.p-absolute-ctr {@include p-absolute-ctr(true,true);}