select {
    font-family: $defaultFontFamily;
    font-size: $selectFontSize;
    transition: all 0.5s;
    outline: none;
    @include border-tool($color: $selectBorderColor);
    height: $selectHeight;
    width: $selectWidth;
    background-color: $selectBackgroundColor;
    padding-left: $selectPaddingLeft;
    -webkit-appearance: none;
}

select:valid {
    color: $selectValidEntryColor;
}