select {
    font-family: 'Crimson Pro', serif;
    font-size: $font-size-large;
    transition: all 0.5s;
    outline: none;
    @include border-tool($color: 'transparent');
    height: 40px;
    width: 400px;
    background-color: transparent;
    padding-left: map-get($spacers, 3);
    -webkit-appearance: none;
}

select:valid {
    color: var(--color-neutral-900);
}